body {
    display: grid;
    place-content: center;
    justify-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

.card-css{
    max-width: 500px;
}

.card-header1{
    font-size: 16px;
}

span.MuiTypography-root{
    font-weight: bold;
}

#content{
    display: flex;
    padding-bottom: 0px;
}

#content2{
    padding-bottom: 0px;
}
#content-space{
    text-align: justify;
}

#content-id{
    font-weight: bold;
}

#button1 {
    background-color: #000;
    color: #fff;
}


#onclick {
    justify-content: center;
    text-align: center;
    background: #000;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-radius: 10px;
}


.MuiButtonBase-root {
    background-color: #000;
    color: #fff;
}
